<H1>{{ "conso.list.title" | translate }}</H1>

<table class="table">
  <thead>
    <tr>
      <th>{{ "conso.list.header.date" | translate }}</th>
      <th>{{ "conso.list.header.distance" | translate }}</th>
      <th>{{ "conso.list.header.volume" | translate }}</th>
      <th>{{ "conso.list.header.consumption" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conso of list" (click)="onEdit(conso.id)">
      <td>{{ conso.date | date:'dd/MM/yyyy' }}</td>
      <td>{{ conso.distance }}</td>
      <td>{{ conso.volume }}</td>
      <td>{{ (conso.volume * 100) / conso.distance | number:'1.0-2' }}</td>
    </tr>
  </tbody>
</table>
<button (click)="onAdd()">{{ "conso.list.button.new" | translate }}</button>
