<h2>
  {{ "conso.edit.title" | translate }}
</h2>
<form name="conso" #consoForm="ngForm">
  <input type="date" class="form-control" 
    name="date" [ngModel]="conso.date | date:'yyyy-MM-dd'"
    (ngModelChange)="conso.date = $event"
  />
  <br/>
  <input type="distance" class="form-control"
    name="distance" [(ngModel)]="conso.distance"
    placeholder="distance"
  />
  <br/>
  <input type="volume" class="form-control"
    name="consommation" [(ngModel)]="conso.volume"
    placeholder="volume"
  />
</form>
<br/>
<button (click)="onSubmit()">{{ "conso.list.button.save" | translate }}</button>
<button (click)="onDelete()">{{ "conso.list.button.delete" | translate }}</button>
<button (click)="onCancel()">{{ "conso.list.button.cancel" | translate }}</button>
<br/>
