<h2>
  Mettez votre consommation à jour ici.
</h2>
<form name="conso" #consoForm="ngForm">
  <input type="date" class="form-control" 
    name="date" [(ngModel)]="conso.date"
  />
  <br/>
  <input type="distance" class="form-control"
    name="distance" [(ngModel)]="conso.distance"
    placeholder="distance"
  />
  <br/>
  <input type="volume" class="form-control"
    name="consommation" [(ngModel)]="conso.volume"
    placeholder="volume"
  />
</form>
<br/>
<button (click)="onSubmit()">Enregistrer</button>
<button (click)="onDelete()">Supprimer</button>
<button (click)="onCancel()">Annuler</button>
<br/>
<button (click)="onAdd()">Increment</button> {{ counter }}

